doctype html
html
  head
    meta(charset='utf-8')
    title= BusPark
  body
  if busDrivers
    ul
      each driver in busDrivers
        li
          p= "Driver: " + driver.driverName + " age: " + driver.driverAge + " his route is: " + driver.routeNumber
